html, body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  width: 100vw;
  height: auto;
}

#vis {
  margin-top: 10rem;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#flowLines {
  position: absolute;
  margin: auto;
}

#ball {
  animation: rotation 5s linear infinite;
  height: 200px;
}

#btn {
  display: block;
  margin: 1rem auto;
  padding: 2rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}