@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  width: auto;
  height: auto;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 4rem 0;
}

#vis {
  border-radius: .25rem;
  margin-top: 10rem;
  height: 300px;
  width: 1200px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #424242;
}

#flowLines {
  position: absolute;
  margin: auto;
}

#ball {
  animation: rotation 5s linear infinite;
  height: 200px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.title {
  color: cyan;
}

.center {
  text-align: center;
}

.body {
  color: white;
  text-align: justify;
}

.section {
  width: 900px;
  margin: auto;
}

#btn {
  width: 300px;
  display: block;
  margin: 1rem auto;
  padding: 2rem;
  background-color: transparent;
  outline: none;
  border: 2px solid cyan;
  color: cyan;
  border-radius: .25rem;
  cursor: pointer;
  font-size: 16px;
}

.img {
  width: 100%;
  border-radius: .25rem;
}